<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime Library Management System</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Poller+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/landing.css') }}">
</head>
<body>
    <div class="container">

        <div class="content">
            <h1>AWS Library</h1>
            <p>Welcome to <span>AWS Library,</span> your ultimate for exploring </p>
            <p>and enjoying a wide variety of anime series and movies.</p>
            
             <a href="{{ url_for('main1') }}"><button>Browse Anime</button></a>
        </div>
    </div>
</body>
</html>