<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AWS Library</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main3.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Poller+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <!--Navigation Bar-->
    <header>
        <h1><a href="{{ url_for('landing') }}">AWS Library</a></h1>
        {% if 'username' in session %}
            <div class="user-controls">
                <a href="{{ url_for('userprofile') }}" class="user-button">{{ session['username'] }}</a>
                <a href="#" class="login-button" id="logout-button">Logout</a>
            </div>
        {% else %}
            <a href="{{ url_for('login_form') }}" class="login-button">Sign-up</a>
        {% endif %}
    </header>
    <!--Search Bar-->
    <div class="controls">
        <button class="sort-button" id="asc">Asc</button>
        <button class="sort-button" id="desc">Desc</button>
        <input type="text" id="search-input" placeholder="Search...">
    </div>
    <!--Grid Card-->
    <div class="library">
        
        <div class="card" data-name="animenosub">
            <a href="https://animenosub.to/" target="_blank" rel="noopener noreferrer"><h2>animenosub</h2></a>
            <p>Site: English Sub: English</p>
            <p>Video: 1080p, 720p</p>
            <span class="favorite"><i class="fa-regular fa-bookmark"></i></span>
        </div>
        <div class="card" data-name="animeonsen">
            <a href="https://www.animeonsen.xyz/" target="_blank" rel="noopener noreferrer"><h2>animeonsen</h2></a>
            <p>Site: English Sub: English</p>
            <p>Video: 720p, 480p</p>
            <span class="favorite"><i class="fa-regular fa-bookmark"></i></span>
        </div>
        <div class="card" data-name="animeout">
            <a href="https://www.animeout.xyz/" target="_blank" rel="noopener noreferrer"><h2>animeout</h2></a>
            <p>Site: English Sub: English</p>
            <p>Video: 1080p, 720p, 480p</p>
            <span class="favorite"><i class="fa-regular fa-bookmark"></i></span>
        </div>
        <div class="card" data-name="animeowl">
            <a href="https://animeowl.live/" target="_blank" rel="noopener noreferrer"><h2>animeowl</h2></a>
            <p>Site: English Sub: English</p>
            <p>Video: 1080p, 720p, 480p</p>
            <span class="favorite"><i class="fa-regular fa-bookmark"></i></span>
        </div>
        <div class="card" data-name="animeparadise">
            <a href="https://www.animeparadise.moe/" target="_blank" rel="noopener noreferrer"><h2>animeparadise</h2></a>
            <p>Site: English Sub: English</p>
            <p>Video: 1080p, 720p, 480p</p>
            <span class="favorite"><i class="fa-regular fa-bookmark"></i></span>
        </div>
        <div class="card" data-name="animesrbija">
            <a href="https://www.animesrbija.com/" target="_blank" rel="noopener noreferrer"><h2>animesrbija</h2></a>
            <p>Site: Serbian Sub: Serbian</p>
            <p>Video: 1080p, 720p, 480p</p>
            <span class="favorite"><i class="fa-regular fa-bookmark"></i></span>
        </div>
        <div class="card" data-name="animeseries">
            <a href="https://animeseries.so/" target="_blank" rel="noopener noreferrer"><h2>animeseries</h2></a>
            <p>Site: English Sub: English</p>
            <p>Video: 1080p, 720p, 480p</p>
            <span class="favorite"><i class="fa-regular fa-bookmark"></i></span>
        </div>
        <div class="card" data-name="sudatchi">
            <a href="https://sudatchi.com/" target="_blank" rel="noopener noreferrer"><h2>sudatchi</h2></a>
            <p>Site: English Sub: English</p>
            <p>Video: 720p, 480p</p>
            <span class="favorite"><i class="fa-regular fa-bookmark"></i></span>
        </div>
        <div class="card" data-name="animeworld">
            <a href="https://www.animeworld.so/" target="_blank" rel="noopener noreferrer"><h2>animeworld</h2></a>
            <p>Site: Italian Sub: Italian</p>
            <p>Video: 1080p, 720p, 480p</p>
            <span class="favorite"><i class="fa-regular fa-bookmark"></i></span>
        </div>
        <div class="card" data-name="animeflick">
            <a href="https://animeflick.net/" target="_blank" rel="noopener noreferrer"><h2>animeflick</h2></a>
            <p>Site: English Sub: English</p>
            <p>Video: 1080p, 720p, 480p</p>
            <span class="favorite"><i class="fa-regular fa-bookmark"></i></span>
        </div>
        <div class="card" data-name="animefreak">
            <a href="https://animefreak.to/animefreak.tv" target="_blank" rel="noopener noreferrer"><h2>animefreak</h2></a>
            <p>Site: English Sub: English</p>
            <p>Video: 1080p, 720p, 480p</p>
            <span class="favorite"><i class="fa-regular fa-bookmark"></i></span>
        </div>
        <div class="card" data-name="animegg">
            <a href="https://www.animegg.org/" target="_blank" rel="noopener noreferrer"><h2>animegg</h2></a>
            <p>Site: English Sub: English</p>
            <p>Video: 1080p, 720p, 480p</p>
            <span class="favorite"><i class="fa-regular fa-bookmark"></i></span>
        </div>
       
    </div>
    <div class="pagination">
        <a href="{{ url_for('main1') }}">
            <button>1</button>
          </a>
          <a href="{{ url_for('main2') }}">
            <button>2</button>
          </a>
          <a href="{{ url_for('main3') }}">
            <button>3</button>
          </a>
    </div>

    <script src="{{ url_for('static', filename='js/signup.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
